<div class="menu">
  {% if settings.show_multiple_currencies and section.settings.header-logo-center == false %}
    <div class="currency-selector columns right-aligned">
      {% include 'snippet-currency-selector' %}
    </div>
  {% endif %}


  {% if section.settings.header-account-show and shop.customer_accounts_enabled %}
    <div class="custom--sub-account-show">
      <a class="search-link" href="/search?type=product&q=">{% include 'snippet-symbol' with 'search' %}</a>
      {% comment %} <a class="account-open" href="#">{{ 'layout.header.account_toggle_link' | t }}
        {% include 'snippet-symbol' with 'account' %}
      </a> {% endcomment %}
      <a href="#swym-wishlist" class="swym-wishlist">
        <i aria-hidden="true" focusable="false" role="presentation" class="fa fa-heart"></i>
      </a>
      <div class="cart">
        <a class="cart-link" href="/cart">
          {% include 'snippet-symbol' with 'bag-fill' %}
          <span class="number-wrapper {% if cart.item_count == 0 %}hide{% endif %} {% if cart.item_count >= 10 %}morethan10{% endif %}"><span class="number {% if cart.item_count >= 10 %}morethan10{% endif %}">{{ cart.item_count }}</span></span>
            {% comment %} <i aria-hidden="true" focusable="false" role="presentation" class="fa fa-shopping-bag"></i> {% endcomment %}
        </a>
          <div class="show--small">
            <div class="recently-added-mask hide"></div>
            <div class="recently-added mobile">
              <a class="close cross" tabindex="0">
                {% include 'snippet-symbol' with 'cross' %}
              </a>


              <div class="row">
                <div class="columns">
                  <p><strong class="all-caps">{{ 'products.recently_added_popup.title' | t }}</strong></p>
                  <p class="mobile-item"></p>
                  <p class="items-count"><a href="/cart"><span class="number">{{ cart.item_count }}</span> {{ 'products.recently_added_popup.items' | t }}</a></p>
                  <p><strong class="all-caps">{{ 'products.recently_added_popup.total' | t }} <span class="total-price money" style="margin-left:5px;">{{ cart.total_price | money }}</span></strong></p>
                </div>
              </div>

              <div class="row">
                <div class="checkout columns">
                  <a class="button" href="/cart">{{ 'products.recently_added_popup.checkout_button' | t }}</a>
                </div><!-- #cart-meta -->
              </div>

              <div class="error">
                <p>{{ 'products.recently_added_popup.unavailable' | t }}</p>
              </div>

            </div>
          </div>
      </div>   
    </div>
  {% endif %}


</div>

{% comment %} <div class="searchbar-container" style="display:inline-block;">
  <form  action="/search" method="get" role="search">
    {% if settings.search-products-only %}<input type="hidden" name="type" value="product" />{% endif %}
    <input name="q" type="text" placeholder="{{ 'layout.header.search_placeholder' | t }}" class="search-box hint text small" />
    {% comment %}<input type="submit" value="" name="submit" aria-hidden="true" class="glyph search"  />{% endcomment %}
    <button class="search">{% include 'snippet-symbol' with 'search' %}</button>
  </form>
  {% comment %} <a href="#" aria-hidden="true" class="searchbar-close cross">
    {% include 'snippet-symbol' with 'cross' %}
  </a> {% endcomment %}
</div> {% endcomment %}



