
{% assign number_of_related_products_to_show = 8 %}

{% capture number_of_related_products_to_fetch %}{{ number_of_related_products_to_show | plus: 1 }}{% endcapture %}

{% if collection == null or collection.handle == 'frontpage' or collection.handle == 'all' %}
  {% assign found_a_collection = false %}
  {% for c in product.collections %}
    {% if found_a_collection == false and c.handle != 'frontpage' and c.handle != 'all' %}
      {% assign found_a_collection = true %}
      {% assign collection = c %}
    {% endif %}
  {% endfor %}
{% endif %}

{% if collection and collection.products_count > 1 %}
  {% assign current_product = product %}

  <section class="similar-products row">
    <h2 class="title">{{ 'products.you_might_like' | t }}</h2>
    <div
      class="similar-products--slider"
      data-centered="true"
      data-items-per-row="{{ section.settings.product-similar-products-amount }}"
      data-mobile-items-per-row="{{ section.settings.mobile-items-per-row }}"
    >
      {% assign current_product_found = false %}
      {% for product in collection.products limit: number_of_related_products_to_fetch %}
        {% if product.handle == current_product.handle %}
          {% assign current_product_found = true %}
        {% else %}
          {% unless current_product_found == false and forloop.last %}
            {% include 'partial--product--slider', view: 'product-slider' %}
          {% endunless %}
        {% endif %}
      {% endfor %}
    </div>
  </section>

{% endif %}

<script>
    $(document).ready(function(){
      $('.similar-products--slider').owlCarousel({
        loop: true,
        autoplay: false,
        navigation: true,
        {% comment %} navigationText: ["<img src={{ 'left-arrow.svg' | asset_url }}>","<img src={{ 'right-arrow.svg' | asset_url }}>"], {% endcomment %}
        dots: false
      });
    });
</script>
